ul{
    list-style-type: disc;
    margin: 0;
    padding: 10px;
    background-color: blue;
}

ol{
    list-style-type: upper-alpha;
    padding: 10px;
    margin: 0;
    background-color: violet;
}

li{
    border: 1px solid black;
    list-style-position: inside;
    background-color: yellow;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}