body{
    margin: 0;
}


h1{
    font-family: 'Bangers', cursive;
    text-align: center;
    background-color: rgb(30, 233, 138);
    margin: 0;
    padding: 20px;
}
p{
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(11, 149, 241);
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    margin: 0;
    padding: 20px;
    
}